<nav class="navbar">
    <span class="navbar-toggle" (click)="toggleMobileNav()"></span>
    <ul class="navbar__nav" id="mobile-menu">
      <li class="navbar__nav--item navbar__mobile--item">
        <a routerLink="/movies">
          <svg-icon-sprite class="navbar__brand--sprite"
          [src]="'assets/sprites/sprite.svg#icon-angular'">
          </svg-icon-sprite>
            <p class="navbar__brand--txt">With</p>
          <svg-icon-sprite class="navbar__brand--sprite"
          [src]="'assets/sprites/sprite.svg#icon-django'">
          </svg-icon-sprite>
            <p class="navbar__brand--txt">REST API</p>
        </a>
      </li>
      <li class="navbar__nav--item">
        <a class="navbar__nav--item-link navbar__mobile--item-link"
        *ngIf="currentUser"
        routerLinkActive="active"
        routerLink="/"
        >Welcome {{ currentUser.username }}</a>
      </li>
      <li class="navbar__nav--item"
        *ngIf="currentUser">
        <a class="navbar__nav--item-link navbar__mobile--item-link"
        (click)="logout()">Logout</a>
      </li>
      <li class="navbar__nav--item"
        *ngIf="!currentUser">
        <a class="navbar__nav--item-link navbar__mobile--item-link"
        routerLink="/auth">Login / Register</a>
      </li>
    </ul>
</nav>
