.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background: #222;
  padding: 0 15px;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 2.5rem;
    cursor: pointer;
    outline: none;
    transition: transform .4s;

    &--svg1 {
      display: flex;
      align-items: center;
      background-color: #fff;
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 8px;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--svg2 {
      display: flex;
      align-items: center;
      background-color: #650165;
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 8px;
      margin-right: 8px;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--svg3 {
       display: flex;
       align-items: flex-start;
       width: 55px;
       height: 2.5rem;

       &-txt {
         display: flex;
         justify-content: flex-start;
         fill: #fff;
         transform: translateX(0) translateY(20px);
       }
    }

    &--svg4 {
       display: flex;
       align-items: flex-start;
       width: 100px;
       height: 2.5rem;

       &-txt {
         display: flex;
         justify-content: flex-start;
         fill: #fff;
         transform: translateX(0) translateY(20px);
       }
    }



  }

  &__brand {
    color: white;

  }

  &__token {
    font-size: 1.8rem;

    & span {
      color: orangered;

    }

  }


  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 3 / -1;
    list-style: none;

    &--item {
      display: flex;
      margin-right: 20px;
      font-size: 2.2rem;

      &:last-child {
        margin-right: 0px;
      }

    }

    &--link {
      color: white;
      text-decoration: none;
      cursor: pointer;

    }

    &--link:hover {
      color: orangered;
    }

  }

}
