.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background: #222;
  padding: 0 15px;

  &__header {
    font-size: 2.5rem;

  }

  &__brand {
    color: white;

  }

  &__token {
    font-size: 1.8rem;

    & span {
      color: orangered;

    }

  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 3 / -1;
    list-style: none;

    &--item {
      display: flex;
      margin-right: 20px;
      font-size: 2.2rem;

      &:last-child {
        margin-right: 0px;
      }

    }

    &--link {
      color: white;
      text-decoration: none;
      cursor: pointer;

    }

    &--link:hover {
      color: orangered;
    }

  }
}
