.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222;
  padding: 0 15px;
}

.nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 2.5rem;
  cursor: pointer;
  outline: none;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.nav__header--svg1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 8px;
}

.nav__header--svg1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav__header--svg2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #650165;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 8px;
  margin-right: 8px;
}

.nav__header--svg2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav__header--svg3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 55px;
  height: 2.5rem;
}

.nav__header--svg3-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  fill: #fff;
  -webkit-transform: translateX(0) translateY(20px);
          transform: translateX(0) translateY(20px);
}

.nav__header--svg4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100px;
  height: 2.5rem;
}

.nav__header--svg4-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  fill: #fff;
  -webkit-transform: translateX(0) translateY(20px);
          transform: translateX(0) translateY(20px);
}

.nav__brand {
  color: white;
}

.nav__token {
  font-size: 1.8rem;
}

.nav__token span {
  color: orangered;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  grid-column: 3 / -1;
  list-style: none;
}

.nav__menu--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  font-size: 2.2rem;
}

.nav__menu--item:last-child {
  margin-right: 0px;
}

.nav__menu--link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.nav__menu--link:hover {
  color: orangered;
}
/*# sourceMappingURL=header.component.css.map */