.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;

  &__header {
    color: #ca7009;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 2rem;

    &--label {
      justify-items: center;
      align-items: center;
      border-radius: 5px;
      margin-top: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    &--input-text{
      font-size: 1.8rem;
      margin-top: 15px;
      margin-bottom: 15px;
      border-radius: 5px;
      padding: 10px;
      height: 35px;
      width: 40%;

      &:active,
      &:focus {
        outline: none;
        background-color: #eee4ca;
      }

    }

    &--invalid-feedback > * {
      font-size: 1.6rem;
      font-weight: 100;
      color: orangered;
    }

    &--alert {
      background-color: #F8D7DA;
      border: .5px solid #FFFFFF;
      font-size: 1.8rem;
      color: orangered;
      justify-items: center;
      align-items: center;
      width: 40%;
      border-radius: 5px;
      padding: 10px;
      margin-top: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }


.form-button {
    display: flex;
    align-items: center;
    width: 140px;
    border: none;
    border-radius: 5px;
    background-color: #ec840d;
    margin-top: 2rem;
    padding: 1.2rem 2rem;
    text-transform: capitalize;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all .2s;


    &__svg-sprite {
      height: 2rem;
      width: 2rem;
      float: left;
      margin-right: 5px;
      margin-top: -2px;
      transition: all .4s;
    }

    // when button is disabled, change pointer and shrink save icon
    &:disabled {
      cursor: not-allowed;

      &:hover {
        svg-icon-sprite {
          // transition location & scale of svg on hover
          display: flex;
          align-items: center;
          transform: translateX(4px) scale(0.1);
        }
      }
    }

    // when button enabled, grow save icon
    &:hover {
      background-color: #ca7009;

      svg-icon-sprite {
        // transition location & scale of svg on hover
        display: flex;
        align-items: center;
        transform: translateX(4px) scale(1.1);
      }
    }

    &:active,
    &:focus {
      outline: none;
    }
  }
}


  // use built in classes to select invalid 7 touched elements for user alert styling
  input.ng-invalid.ng-touched {
    border: .5px solid #fc8e4f;
    background-color: #e2b796;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.54);
  }

.access-mode {
  font-size: 1.8rem;

  &__login {

  }

  &__register {

  }

  &__redirect {

  }

  &__router {
    font-size: 1.8rem;
    cursor: pointer;
  }
}
