<div class="container">

  <ng-template appPlaceholder></ng-template>

  <div class="spinner" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>


  <form class="form" [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <div class="form__header">
      <h2 *ngIf="isLoginMode">User Login page</h2>
      <h2 *ngIf="!isLoginMode">New user Registration</h2>
    </div>
    <div class="form__form-group">
      <label class="form__form-group--label" for="username">Name</label>
      <input class="form__form-group--input-text" type="text" id="username" ngModel name="username" required>
      <!-- <span class="error" *ngIf="username.invalid && username.touched">Please enter a user name</span> -->
    </div>
    <div class="form__form-group">
      <label class="form__form-group--label" for="password">Password</label>
      <input class="form__form-group--input-text" type="password" id="password" ngModel name="password" required
        minlength="6">
      <!-- <span class="error" *ngIf="password.invalid && password.touched">Please enter a valid password</span> -->
    </div>

    <div class="form-buttons">
      <button class="form-button" type="submit">
        <span *ngIf="isLoginMode">
          <svg-icon-sprite class="form-button__svg-sprite" [src]="'assets/sprites/sprite.svg#icon-login'">
          </svg-icon-sprite>
          Login
        </span>
        <span *ngIf="!isLoginMode">
          <svg-icon-sprite class="form-button__svg-sprite" [src]="'assets/sprites/sprite.svg#icon-add-to-list'">
          </svg-icon-sprite>
          Register
        </span>
      </button>

      <button class="form-button" type="button" (click)="onReset()">
        Reset
      </button>
    </div>

    <div class="access-mode">
      <span class="access-mode__login" *ngIf="isLoginMode" (click)="isLoginMode = false; authForm.reset()">
        Don't have an account? Click here to register</span>
      <span class="access-mode__register" *ngIf="!isLoginMode" (click)="isLoginMode = true; authForm.reset()">
        Have an account? Click here to login</span>
    </div>

  </form>
</div>
