.form {
  display: grid;
  justify-content: center;
  margin-top: 80px;
  padding: 0 20px;
  padding-bottom: 20px;

  @media only screen and (max-width: 780px) {
    margin-top: 0;
    padding: 10px 20px;
  }

  &__header {
    font-size: 2.2rem;
    color: #ca7009;
  }

  &__form-group {
    display: grid;
    justify-content: center;
    font-weight: 400;
    font-size: 1.6rem;

    &--label {
      justify-items: center;
      align-items: center;
      border-radius: 5px;
      margin-top: 15px;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    &--input-text {
      display: flex;
      font-size: 1.8rem;
      margin-bottom: 1px;
      border-radius: 5px;
      padding: 5px;
      height: 30px;
      width: 80vw;

      @media only screen and (min-width: 1000px) {
        max-width: 40vw;
      }

      @media only screen and (max-width: 780px) {
        width: 90vw;
        height: 20px;
      }

      &:active,
      &:focus {
        outline: none;
        background-color: #eee4ca;
      }
    }

    &--invalid-feedback > * {
      font-size: 1.6rem;
      font-weight: 100;
      color: #ca7009;
    }

    &--alert {
      background-color: #f8d7da;
      border: 0.5px solid #ffffff;
      font-size: 1.8rem;
      color: #ca7009;
      justify-items: center;
      align-items: center;
      width: 40%;
      border-radius: 5px;
      padding: 10px;
      margin-top: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 780px) {
      flex-direction: column;
    }
  }

  .form-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    border: none;
    border-radius: 5px;
    background-color: #ca7009;
    margin-top: 2rem;
    padding: 1.2rem 2rem;
    text-transform: capitalize;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.2s;

    &__svg-sprite {
      height: 2rem;
      width: 2rem;
      float: left;
      margin-right: 5px;
      margin-top: -2px;
      transition: all 0.4s;
    }

    @media only screen and (max-width: 780px) {
      transform: scale(0.8);
    }

    // when button is disabled, change pointer and shrink save icon
    &:disabled {
      cursor: not-allowed;
      &:hover {
        svg-icon-sprite {
          // transition location & scale of svg on hover
          display: flex;
          align-items: center;
          transform: translateX(4px) scale(0.1);
        }
      }
    }

    // when button enabled, grow save icon
    &:hover {
      background-color: #ca7009;
      svg-icon-sprite {
        // transition location & scale of svg on hover
        display: flex;
        align-items: center;
        transform: translateX(4px) scale(1.1);
      }
    }

    &:active,
    &:focus {
      outline: none;
    }
  }
}

// use built in classes to select invalid 7 touched elements for user alert styling
input.ng-invalid.ng-touched {
  border: 0.5px solid #ca7009;
  background-color: #eee4ca;
  box-shadow: 0 0 0 0.2rem #ca7009;
}

.access-mode {
  margin-top: 1rem;
  font-size: 1.4rem;
  cursor: pointer;

  &__router {
    font-size: 1.4rem;
  }

  @media only screen and (max-width: 316px) {
    font-size: 1rem;
    padding: 0 5px;
  }
}
