.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__header {
  color: #ca7009;
}

.form__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 2rem;
}

.form__form-group--label {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin-top: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form__form-group--input-text {
  font-size: 1.8rem;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px;
  height: 35px;
  width: 40%;
}

.form__form-group--input-text:active, .form__form-group--input-text:focus {
  outline: none;
  background-color: #eee4ca;
}

.form__form-group--invalid-feedback > * {
  font-size: 1.6rem;
  font-weight: 100;
  color: orangered;
}

.form__form-group--alert {
  background-color: #F8D7DA;
  border: .5px solid #FFFFFF;
  font-size: 1.8rem;
  color: orangered;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form .form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  border: none;
  border-radius: 5px;
  background-color: #ec840d;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  text-transform: capitalize;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form .form-button__svg-sprite {
  height: 2rem;
  width: 2rem;
  float: left;
  margin-right: 5px;
  margin-top: -2px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.form .form-button:disabled {
  cursor: not-allowed;
}

.form .form-button:disabled:hover svg-icon-sprite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(4px) scale(0.1);
          transform: translateX(4px) scale(0.1);
}

.form .form-button:hover {
  background-color: #ca7009;
}

.form .form-button:hover svg-icon-sprite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(4px) scale(1.1);
          transform: translateX(4px) scale(1.1);
}

.form .form-button:active, .form .form-button:focus {
  outline: none;
}

input.ng-invalid.ng-touched {
  border: .5px solid #fc8e4f;
  background-color: #e2b796;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.54);
          box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.54);
}

.access-mode {
  font-size: 1.8rem;
}

.access-mode__router {
  font-size: 1.8rem;
  cursor: pointer;
}
/*# sourceMappingURL=auth.component.css.map */