.movie-list {
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);

  &__title {
    cursor: pointer;
  }

  & svg-icon-sprite {
    columns: 2 / 3;
    height: 2rem;
    width: 2rem;
  }

  &__svg-edit {
    margin-right: 15px;
    color: #e4e155;
    cursor: pointer;

  }

  &__svg-trash {
    color: #1ee41e;
    cursor: pointer;
  }

}

.movie-list-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #bfd249;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all .2s;

  &::before {
    content: url(../../assets/sprites/chevron-small-right.svg);
    height: 2rem;
    width: 2rem;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
    transition: all .2s;
  }

  &:hover {
    background-color: #d3f01b;
  }
}
