.movie-list {
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
  margin: 15px 15px;

  &__title {
    cursor: pointer;
  }

  & svg-icon-sprite {
    columns: 2 / 3;
    height: 2rem;
    width: 2rem;
  }

  &__svg-edit {
    margin-right: 15px;
    color: #80ace2;
    cursor: pointer;

  }

  &__svg-trash {
    color: #fd6f6f;
    cursor: pointer;
  }

}

.movie-list-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #bfd249;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  // text-transform: uppercase;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all .2s;

  &__svg-right {
    // content: url(../../assets/sprites/chevron-small-right.svg);
    height: 2rem;
    width: 2rem;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
    transition: all .2s;
  }

  &:hover {
    // change background color of button
     background-color: #d3f01b;
     transform: translateY(-2px);
     // animate button
     -webkit-filter: drop-shadow(12px 12px 7px rgba(1, 34, 61, 0.699));
     filter: drop-shadow(12px 12px 7px rgba(1, 34, 61, 0.699));

    svg-icon-sprite {
      // transition location & scale of svg on hover
      display: flex;
      align-items: center;
      transform: translateX(4px) scale(1.4);
    }


  }

  //add button clicked effects
  &:active,
  &:focus {
    transform: translateY(-0.1rem);
    /* reduce shadow size as well as the blur to give
      appearance of button moving close to background: ; */
    -webkit-filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, 0.5));
    outline: none;
  }

}

.movie-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;

  &__img {
    display: block;
    width: 200px;
    height: 100%;
    margin: 15px;
    cursor: pointer;
    transition: transform .3s;

    box-shadow: 2rem 1.4rem 4rem rgba(#3d3c3c, .18);
    transition: transform .3s;

    &:hover {
      transform: translateY(-5px) scale(1.02);
      box-shadow: 2rem 1.4rem 4rem rgba(#696868, .18);
    }
  }

}
