.content {
  color: var(--color-grey-dark);
  background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-light));
  background-size: cover;
  background-repeat: no-repeat;
  // specifying content height: by excluding height used footer;
  min-height: calc(100% - 115px );

  @media only screen and (max-width: 780px) {
    padding: 2px 5px;
  }

  &__rater {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    &--svg-sprite {
      color: #e2eaef;
      margin-right: 15px;
      width: 5rem;
      height: 5rem;

    }

    &--heading {
    color: #e2d285;
    font-family: cursive;

    }
  }
}
