.movie-ratings {
  display: flex;
  align-items: center;

}

.votes {
  padding-left: .4rem;
  transform: translateY(-1px);
}

.svg-star {
    color: #fff;
}


svg-icon-sprite.svg-gold-star {
  color: orange;
}
