.movie-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px 15px;
  padding: 0 15px;
}

@media screen and (max-width: 700px) {
  .movie-list {
    padding: 0%;
  }
}

.movie-list svg-icon-sprite {
  display: block;
  height: 2rem;
  width: 2rem;
}

.movie-list__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr .5fr;
      grid-template-rows: 2fr .5fr;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  margin: 15px;
}

@media screen and (max-width: 700px) {
  .movie-list__card {
    display: -ms-grid;
    display: grid;
    margin: auto;
    margin-bottom: 15px;
  }
}

.movie-list__card--img {
  display: block;
  width: 100%;
  max-width: 200px;
  max-height: 260px;
  margin: 15px;
  cursor: pointer;
  -webkit-box-shadow: 2rem 1.4rem 4rem rgba(61, 60, 60, 0.18);
          box-shadow: 2rem 1.4rem 4rem rgba(61, 60, 60, 0.18);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.movie-list__card--img:hover {
  -webkit-transform: translateY(-5px) scale(1.02);
          transform: translateY(-5px) scale(1.02);
  -webkit-box-shadow: 2rem 1.4rem 4rem rgba(105, 104, 104, 0.18);
          box-shadow: 2rem 1.4rem 4rem rgba(105, 104, 104, 0.18);
}

.movie-list__card--hero {
  margin-top: 0;
}

.movie-list__card--info {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.movie-list__card--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  grid-row: 2;
  cursor: pointer;
  margin-right: 5px;
}

.movie-list__card--title--svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.movie-list__card--title--svg-edit {
  margin-right: 15px;
  color: #80ace2;
  cursor: pointer;
}

.movie-list__card--title--svg-trash {
  color: #fd6f6f;
  cursor: pointer;
}

.movie-list-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #bfd249;
  margin-top: 2rem;
  margin: 15px;
  padding: 10px 10px;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.movie-list-button__svg-add {
  height: 2rem;
  width: 2rem;
  float: left;
  margin-right: 5px;
  margin-top: -2px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.movie-list-button:hover {
  background-color: #d3f01b;
  -webkit-transform: translateY(-1px) translateX(1px);
          transform: translateY(-1px) translateX(1px);
  -webkit-filter: drop-shadow(12px 12px 7px rgba(1, 34, 61, 0.699));
  filter: drop-shadow(12px 12px 7px rgba(1, 34, 61, 0.699));
}

.movie-list-button:hover svg-icon-sprite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.movie-list-button:active, .movie-list-button:focus {
  -webkit-transform: translateY(-0.1px);
          transform: translateY(-0.1px);
  /* reduce shadow size as well as the blur to give
      appearance of button moving close to background: ; */
  -webkit-filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.5));
  outline: none;
}
/*# sourceMappingURL=movie-list.component.css.map */