.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 2rem;
  margin: 0 25px;
}

.form__label {
  border-radius: 5px;
  margin-top: 15px;
}

.form__title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 10px;
  height: 35px;
  width: 90%;
}

.form__title:active, .form__title:focus {
  outline: none;
  background-color: #eee4ca;
}

.form textarea {
  font-size: 1.8rem;
  padding: 10px;
  width: 90%;
}

.form textarea:active, .form textarea:focus {
  outline: none;
  background-color: #eee4ca;
}

.form__url {
  font-size: 1.2rem;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 0 10px;
  height: 35px;
  width: 90%;
}

.form__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__img img {
  height: auto;
  width: 300px;
  border-radius: 25px;
  -webkit-box-shadow: 2rem 1.4rem 4rem rgba(61, 60, 60, 0.18);
          box-shadow: 2rem 1.4rem 4rem rgba(61, 60, 60, 0.18);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media screen and (min-width: 372px) {
  .form__img img:hover {
    -webkit-transform: translateY(-10px) scale(1.02);
            transform: translateY(-10px) scale(1.02);
    -webkit-box-shadow: 2rem 1.4rem 4rem rgba(105, 104, 104, 0.18);
            box-shadow: 2rem 1.4rem 4rem rgba(105, 104, 104, 0.18);
  }
}

.form input.ng-invalid.ng-touched,
.form textarea.ng-invalid.ng-touched {
  border: .5px solid #fc8e4f;
  background-color: #e2b796;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 145, 0, 0.822);
          box-shadow: 0 0 0 0.2rem rgba(255, 145, 0, 0.822);
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #ec840d;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  text-transform: capitalize;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form-button__svg-sprite {
  height: 2rem;
  width: 2rem;
  float: left;
  margin-right: 5px;
  margin-top: -2px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.form-button:disabled {
  cursor: not-allowed;
}

.form-button:disabled:hover svg-icon-sprite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(4px) scale(0.1);
          transform: translateX(4px) scale(0.1);
}

.form-button:hover {
  background-color: #ca7009;
}

.form-button:hover svg-icon-sprite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(4px) scale(1.1);
          transform: translateX(4px) scale(1.1);
}

.form-button:active, .form-button:focus {
  outline: none;
}

.border {
  visibility: hidden;
}

@media screen and (max-width: 1000px) {
  .border {
    visibility: visible;
    margin-top: 2rem;
    width: 100%;
  }
  .border__break {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 0.5;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .border__break span {
    position: relative;
  }
  .border__break span::before,
  .border__break span::after {
    display: inline-block;
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 0;
    min-width: 60px;
    margin: 0 15px;
  }
  .border__break span:before {
    right: 100%;
    margin-right: 15px;
  }
  .border__break span:after {
    left: 100%;
    margin-left: 15px;
  }
}
/*# sourceMappingURL=movie-form.component.css.map */