.form {

  &__label {


  }

  &__title {


  }

  &__description {


  }
}

.form-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #ec840d;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  text-transform: capitalize;
  font-size: 1.8rem;
  cursor: pointer;

  &__svg-sprite {
    height: 2rem;
    width: 2rem;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
  }

  &:hover {
    background-color: #ca7009;
    transform: translateY(-2px);

  }
}
