.form {

  &__label {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__title {
    border-radius: 5px;
    
  }

  &__description {
    border-radius: 5px;

  }
}

.form-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #ec840d;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  text-transform: capitalize;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all .2s;

  &__svg-sprite {
    height: 2rem;
    width: 2rem;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
    transition: all .4s;
  }

  &:hover {
    background-color: #ca7009;

    svg-icon-sprite {
      // transition location & scale of svg on hover
      display: flex;
      align-items: center;
      transform: translateX(4px) scale(1.1);
    }
  }

  &:active,
  &:focus {
   outline: none;
  }

}
