<div class="form">
  <a [routerLink]="'/movies'" class="close"></a>
  <form [formGroup]="movieForm" (ngSubmit)="saveForm()">
    <label class="form__label" for="title">Title:</label>

    <input class="form__title" type="text" formControlName="title">

    <label class="form__label" for="description">Description:</label>

    <textarea class="from__description" rows="5" type="text" formControlName="description"></textarea>

    <label class="form__label" for="name">Img URL</label>

    <input class="form__url" type="text" formControlName="imagePath" #imagePath>

    <div class="form__img">
      <img *ngIf="imagePath.value" [src]="imagePath.value">
    </div>
  </form>

  <div class="form-button">

    <div
    *ngIf="id; else newMovie">

      <button class="form-button__edit" type="submit" [disabled]="!movieForm.valid">
        <svg-icon-sprite class="form-button__svg-sprite" [src]="'assets/sprites/sprite.svg#icon-save'">
        </svg-icon-sprite>
        <span>Update</span>
      </button>

      <button class="form-button__cancel" type="submit" (click)="onCancel()">
        <svg-icon-sprite class="form-button__svg-sprite" [src]="'assets/sprites/sprite.svg#icon-ccw'">
        </svg-icon-sprite>
        <span>Cancel</span>
      </button>

    </div>


    <!-- sprite has to be soured as xlink -->
    <ng-template #newMovie>
      <button class="form-button__edit" type="submit" [disabled]="!movieForm.valid">
        <svg class="form-button__svg-sprite">
          <use xlink:href="assets/sprites/sprite.svg#icon-save">
          </use>
        </svg>
        <span>Create</span>
      </button>

      <button class="form-button__cancel" type="submit" (click)="onCancel()">
        <svg class="form-button__svg-sprite">
          <use xlink:href="assets/sprites/sprite.svg#icon-ccw">
          </use>
        </svg>
        <span>Cancel</span>
      </button>

    </ng-template>

  </div>
</div>


<div class="border">
  <p class="border__break"><span>Movie List</span></p>
</div>
