.form {
  display: block;
  font-weight: 400;
  font-size: 2rem;
  margin: 0 25px;
  width: 90%;
}
.form__label {
  display: flex;
  border-radius: 5px;
  margin-top: 15px;
}
.form__title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 10px;
  height: 35px;
}
.form__title:active, .form__title:focus {
  outline: none;
  background-color: #eee4ca;
}
.form textarea {
  font-size: 1.8rem;
  padding: 10px;
  width: 90%;
}
.form textarea:active, .form textarea:focus {
  outline: none;
  background-color: #eee4ca;
}
.form__url {
  font-size: 1.2rem;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 0 10px;
  height: 35px;
  width: 90%;
}
.form__img {
  display: flex;
  justify-content: center;
}
.form__img img {
  height: auto;
  width: 100%;
  max-width: 300px;
  border-radius: 25px;
  box-shadow: 2rem 1.4rem 4rem rgba(61, 60, 60, 0.18);
  transition: transform 0.3s;
}
@media screen and (min-width: 372px) {
  .form__img img:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 2rem 1.4rem 4rem rgba(105, 104, 104, 0.18);
  }
}
.form input.ng-invalid.ng-touched,
.form textarea.ng-invalid.ng-touched {
  border: 0.5px solid #fc8e4f;
  background-color: #e2b796;
  box-shadow: 0 0 0 0.2rem rgba(255, 145, 0, 0.822);
}

.form-button {
  display: flex;
  align-items: center;
}
.form-button__edit, .form-button__cancel {
  border-radius: 5px;
  background-color: #ec840d;
  border: none;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  text-transform: capitalize;
  font-size: 1.8rem;
  cursor: pointer;
}
.form-button__edit:active, .form-button__edit:focus, .form-button__cancel:active, .form-button__cancel:focus {
  outline: none;
}
@media screen and (max-width: 295px) {
  .form-button__edit, .form-button__cancel {
    padding: 1rem 1.1rem;
    font-size: 1.2rem;
  }
}
.form-button__edit {
  margin-right: 15px;
}
.form-button svg-icon-sprite, .form-button svg {
  height: 2rem;
  width: 2rem;
  float: left;
  margin-right: 5px;
  margin-top: -2px;
  transition-duration: 0.4s;
}
.form-button__edit:disabled {
  cursor: not-allowed;
}
.form-button__edit:disabled:hover svg-icon-sprite,
.form-button__edit:disabled:hover svg {
  display: flex;
  align-items: center;
  transform: translateX(2px) scale(0.1);
}
.form-button__edit:hover, .form-button__cancel:hover {
  background-color: #ca7009;
}
.form-button__edit:hover svg-icon-sprite,
.form-button__edit:hover svg, .form-button__cancel:hover svg-icon-sprite,
.form-button__cancel:hover svg {
  display: flex;
  align-items: center;
  transform: scale(1.1);
}

.border {
  visibility: hidden;
}
@media screen and (max-width: 1000px) {
  .border {
    visibility: visible;
    margin-top: 2rem;
    width: 100%;
  }
  .border__break {
    display: flex;
    line-height: 0.5;
    text-align: center;
    justify-content: center;
  }
  .border__break span {
    position: relative;
  }
  .border__break span::before, .border__break span::after {
    display: inline-block;
    content: "";
    flex-grow: 1;
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 0;
    min-width: 60px;
    margin: 0 15px;
  }
  .border__break span:before {
    right: 100%;
    margin-right: 15px;
  }
  .border__break span:after {
    left: 100%;
    margin-left: 15px;
  }
}/*# sourceMappingURL=movie-form.component.css.map */